.main{
    width: 100vw;
    height: 100vh;
    background-image: url(https://d2u3dcdbebyaiu.cloudfront.net/uploads/atch_img/847/5658ca50dbbbb5c0c5e9904456746e00_res.jpeg);
    background-size: cover;
}